<section class="oa-prof-panel">
  <div class="oa-section-title">Saves &amp; Skills</div>
  <div class="oa-prof-meta">
    <span>Proficient saves: {{#if saves.length}}{{#each saves}}<b>{{this}}</b>{{#unless @last}} · {{/unless}}{{/each}}{{else}}<span class="oa-muted">none</span>{{/if}}</span>
    <span class="oa-pp">Passive Perc. <b>{{core.passivePerception}}</b></span>
  </div>
  <div class="oa-skills">
    {{#each skills}}
    <div class="oa-skill {{#if this.proficient}}is-prof{{/if}} {{#if this.expertise}}is-exp{{/if}}">
      <button type="button" class="oa-skill-pip" {{#if ../editable}}data-action="cycleSkillProf" data-key="{{this.key}}"{{/if}}>{{#if this.proficient}}{{#if this.expertise}}◆{{else}}●{{/if}}{{else}}○{{/if}}</button>
      <button type="button" class="oa-skill-name oa-roll" data-action="roll" data-roll-type="skill" data-key="{{this.key}}">{{this.label}}</button>
      <b class="oa-skill-mod">{{this.mod}}</b>
    </div>
    {{/each}}
  </div>
</section>
